
.introduction {
  background-size: cover;
  background-position: center;
  padding: 30px;
  margin-bottom: 1000px;
  text-align: center;
  font-size: 3vh;
  gap: 1;
}

h1 {
  font-size: 30px;
  color: #333;
}

p {
  font-size: 20px;
  line-height: 1.5;
  color: #666;
  margin-top: 5px;
}

