@import "../../../css-config/mixins.scss";

.search-modal {
  position: fixed;
  width: 100%;
  height: 100%;
  z-index: 999;
  top: 0;
  left: 0;
  background-color: #222;
  transform: translateY(100%);
  animation: slideSearchWindow 0.5s ease forwards;
  background: linear-gradient(to bottom, #222, #444);
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.5);

  .form-field {
    width: 100%;
    display: flex;
    justify-content: center;
    padding: 20px 50px;
    border-bottom: 2px solid #444;
    position: relative;
  
  
  .form-field::before {
    content: "Search";
    position: absolute;
    top: 50%;
    left: 20px;
    transform: translateY(-50%);
    font-size: 28px;
    font-weight: 600;
    color: #eee;
  }

    input {
      width: 100%;
      max-width: 1200px;
      height: 60px;
      text-align: center;
      font-size: 28px;
      font-weight: 600;
      color: #eee;
      background-color: #333;
      outline: none;
      border: none;
      text-transform: uppercase;

      &::placeholder {
        color: #999;
      }
    }

    .close-btn {
      position: absolute;
      font-size: 30px;
      right: 20px;
      top: 20px;
      transform: rotate(45deg);
      cursor: pointer;
      color: #fff;
      width: 30px;
      height: 30px;
      border: none;
      background-color: transparent;
      padding: 0;
    }
    
    .close-btn::before,
    .close-btn::after {
      content: "";
      position: absolute;
      width: 100%;
      height: 2px;
      background-color: #fff;
      top: 50%;
      left: 0;
      transform: translateY(-50%);
    }
    
    .close-btn::before {
      transform: rotate(45deg);
    }
    
    .close-btn::after {
      transform: rotate(-45deg);
    }
  }
  .close-btn:hover::before,
  .close-btn:hover::after {
    background-color: #999;
  }

  .search-result-content {
    max-width: calc(100% - 20px);
    margin: 0 auto;

    .start-msg {
      text-align: center;
      margin-top: 40px;
      font-size: 20px;
      color: #999;
    }

    .search-results {
      height: calc(100vh - 140px);
      overflow: auto;
      margin: 40px 0;

      .search-result-item {
        display: flex;
        align-items: center;
        gap: 20px;
        padding: 20px 0;
        border-bottom: 2px solid #444;
        cursor: pointer;

        .image-container {
          background-color: rgba(255, 255, 255, 0.05);
          width: 80px;
          height: 80px;
          flex-shrink: 0;
          overflow: hidden;
          border-radius: 50%;
          box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);

          img {
            width: 100%;
            height: 100%;
            object-fit: cover;
          }
        }

        .prod-details {
          overflow: hidden;

          .name {
            text-overflow: ellipsis;
            white-space: nowrap;
            overflow: hidden;
            font-size: 24px;
            line-height: 1;
            margin-bottom: 10px;
            font-weight: 600;
            color: #eee;
          }

          .desc {
            font-size: 20px;
            line-height: 1.2;
            color: #999;
          }
        }
      }
    }
  }
}

@keyframes slideSearchWindow {
  0% {
    transform: translateY(100%);
  }
  100% {
    transform: translateY(0);
  }
}
